################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/hospital_manager_api/.vs
/hospital_manager_api/hospital_manager_api/obj
/hospital_manager_api/hospital_manager_data_access/obj
/hospital_manager_forms/obj/Debug
/hospital_manager_api/bin
/hospital_manager_api/obj
/hospital_manager_data_access/bin
/hospital_manager_data_access/obj
/hospital_manager_forms/bin
/hospital_manager_forms/obj
